

.categorias {
    margin: 100px 10px 20px 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

.categorias-scroll {
    overflow: scroll;
}

.categorias-scroll::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}
.categorias-display {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
}

.categorias-box {
    background: transparent;
    border: none;
    width: 70px;
    -webkit-flex: 0 0 70px;
    -ms-flex: 0 0 70px;
    flex: 0 0 70px;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.5s;
    -webkit-transition: transform 0.5s;
    transition: transform 0.5s;
    padding: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
}

.categorias-box:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    border-radius: 10px;
}

.categorias-1j3lhdz {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 16px;
    border-color: none;
    background-color: none;
    padding: 0.25rem;
}

.categorias-hbVrBp {
    width: 100%;
}
.categorias-jeCGGt {
    -webkit-filter: none !important;
    filter: none !important;
}

.categorias-img1 {

    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    box-sizing:border-box;
    padding:0;
    border:none;
    border-radius: 50%;
    margin:auto;
    display:block;
    width:0;
    height:0;
    min-width:100%;
    max-width:100%;
    min-height:100%;
    max-height:100%;
    object-fit:cover;
    background-size:cover;
    background-position:0% 0%;
    filter:blur(20px);
    background-image:none
}

.categorias-img2 {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    box-sizing:border-box;
    padding:0;
    border:none;
    border-radius: 50%;
    margin:auto;
    display:block;
    width:0;
    height:0;
    min-width:100%;
    max-width:100%;
    min-height:100%;
    max-height:100%;
    object-fit:cover;
}


.span-text {
    font-weight: 400;
    font-size: 0.85rem;
    line-height: 1;
    /* letter-spacing: none; */
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    --chakra-line-clamp: 1;
    white-space: nowrap;
    width: 100%;
    color: #2e2c36;
}

.restaurant-profile {
    width: 1300px;   /*arriba/abajo*/
    height: 500px;  /*arriba/abajo*/
}
.cover-photo {
    background-position: left;
    margin-left: 540px;

}

.restaurantes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.restaurante {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.restaurante img {
    object-fit: cover;
    width: 240px;
    height: 175px;
    width: 100%;
}

.btn-restaurate {
    background-color: rgba(239, 166, 81, 1); 
    border-color: rgba(239, 166, 81, 1);
}

.restaurante button:hover {
    background-color: #ff7700;
}
.search-bar button:hover {
    background-color: rgb(255, 255, 255);
}
.search-bar button:hover {
    color: rgba(239, 166, 81, 1);
}
.restaurante {
    transition: background-color 0.3s, box-shadow 0.3s; /* Transición suave */
}
.restaurante:hover {
    box-shadow: 3px 3px 5px #f0f0f0; /* Agrega sombreado */
    transform: scale(1.05);
}

section {
    padding: 10px;
    text-align: center;
}

#menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menu-item {
    flex: 0 0 calc(33.3% - 20px);
    margin: 20px 0;
    padding: 15px;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    transition: transform 0.4s ease-in-out;
}

.menu-item:hover {
    transform: scale(1.05);
    box-shadow: 3px 3px 5px #f0f0f0; /* Agrega sombreado */
}

.menu-item img {
    height: 250px;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
    display: block;
}

.menu-item span {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

.restaurantes {
    display: flex;
    overflow-x: hidden;
  }

  .restaurante {
    flex: 0 0 auto;
    box-sizing: border-box;
    width: 225px;
    height: 386px;
    margin: 20px;
    text-align: center;
    border: 1px solid #ddd;
    padding-bottom: 20px;
    border-radius: 20px;
    transition: transform 0.4s ease-in-out;
  }