
.banner {
    text-align: center;
    margin: auto;
    width: 100%; /* Ancho del formulario, ajusta según tus necesidades */
    margin-top: 50px; /* Margen superior para centrar verticalmente */
    border-radius: 10px; /* Bordes redondeados */
	color: white;
	background-color: rgba(255, 255, 255, 0.5);
}

.banner-container {
	background-color: #333;
    padding: 50px;
    border-radius: 10px; /* Bordes redondeados */
	color: white;
}

.banner-container h2 {
    color: #fff; /* Color de texto blanco */
    text-align: center; /* Centrar el texto */
    text-transform: uppercase; /* Convertir texto a mayúsculas */
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
textarea,
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50; /* Color de fondo del botón */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049; /* Cambia el color cuando se pasa el ratón sobre el botón */
}