
/* 
:root {
	--header-height: 4rem;
	--first-color: rgba(248, 191, 106);
	--first-color-light: rgba(239, 166, 81);

	--second-color: rgb(247,220,183);
	--second-color-light: rgb(248,228,187);

	--third-color: rgba(28, 133, 127);

	--title-color: #212529;
	--text-color: #343a40;
	--text-color-light: #6c757d;

	--bg-color: #f8f9fa;
	--bg-color-alt: #eff1f3;

	--color-white: #fff;
} */


/* Perfil del restaurante */
.restaurante {
    margin: 20px;
}

.btn-primary {
    background-color: rgba(239, 166, 81, 1);
    border-color: rgba(239, 166, 81, 1);;
}

.restaurant-profile {
    margin-top: 5rem;
    align-items: center;
    text-align: center; /*arriba/abajo*/
}

.cover-photo {
    position: relative;
    height: 18.5rem;
    overflow: hidden;
    padding-bottom: 4rem;
    border-radius: 2rem;
}


.cover-photo img {
    width: 100%;
}

.profile-photo {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px;
}

.profile-photo img {
    width: 100px;
    height: 100px;
    border: 2px solid #025157;
    border-radius: 50%;
}

.menu-options{
    text-align: center;
}

.menu-categories {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(221, 221, 221);
    border-radius: 30px;
}

.category {
    cursor: pointer;
    flex: 1;
    padding: 0px;
    color: #ffffff;
    text-align: center;
}

/* Estilo para las pestañas de categoría */
#adults-tab {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

#healthy-tab {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.category.active {
    background-color: #025157;
    color: #ffffff;
    border-radius: 30px;
}

.category:not(.active) {
    color: #025157;
}

.category-content {
    display: flex;
    padding: 20px;
    text-align: center;
}

.menu-items {
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    justify-content: space-around;
}

.menu-item {
    display: flex;
    height: 150px;
    width: 430px;
    margin: 10px 0;
    border: 1px solid #ccc; /* Agregar borde */
    border-radius: 10px;
    transition: background-color 0.3s; /* Transición de color */
}

.menu-item img {
    padding: 10px;
    padding-top: 15px;
    width: 120px;
    height: 120px;
}

.menu-item:hover {
    background-color: #f2f2f2;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.item-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10px;
    padding: 10px;
}

.item-details .item-details-text {
    display: inline-block;
}

/* Estilos para el horario del restaurante */
.restaurant-hours {
    text-align: center;
    margin-top: 20px;
/*    background-color: #c9c9c9; */
    padding: 10px;
/*    border-bottom-left-radius: 30px; */
/*    border-bottom-right-radius: 30px; */
}

.restaurant-hours h4 {
    color: #025157;
}

.restaurant-hours p {
    margin: 5px 0;
    color: #333;
    font-weight: bold;
}

.map {
    border-radius: 30px;
    width: 100px;
}

.location-details {
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: #333;
    padding: 20px;
}

.location-details iframe,
        .location-details div {
            width: 50%; /* Se ajusta el ancho para dejar espacio para los márgenes y bordes */
        }

.h3ubicacion {
    padding: 20px;
}

.location-details h3{
    color: #ffffff;
}

.location-details p {
    color: #cacaca;
}

@media (max-width: 914px) {
	.location-details {
		padding: 0;
        flex-direction: column;
	}
    .location-details iframe, .location-details div {
        width: 100%;
        border-radius: 0.4rem;
	}

    .cover-photo {
        height: auto;
        border-radius: 0;
    }
    .menu-categories {
        flex-direction: column;
        background: var(--bg-color);
    }
    .category.active {
        background-color: #025157;
        color: #ffffff;
        border-radius: 30px;
        width: 100%;
    }
}

@media (max-width: 1024px) {
	.location-details {
		padding: 2rem;
        flex-direction: column;
	}
    .location-details iframe, .location-details div {
        width: 100%;
        border-radius: 0.4rem;
	}
    .cover-photo {
        border-radius: 0;
        height: auto;
    }
    .menu-categories {
        flex-direction: column;
        background: var(--bg-color);
    }
    .category.active {
        background-color: #025157;
        color: #ffffff;
        border-radius: 30px;
        width: 50%;
    }
}

.item-details h4 {

        margin-block-start: 1.33em;
        margin-block-end: 0.33em;


}
