
.user-data {
    margin-top: 15rem;
    max-width: 400px;
    margin: 50px auto;
    color: var(--bg-color);
    background-color: var(--third-color-sm);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-data h2 {
    text-align: center;
    margin-bottom: 30px;
    color: var(--bg-color);
    font-family: 'Nunito Sans' sans-serif;
}


input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: var(--second-color);
    color: var(--bg-color-alt);
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: var(--second-color-light);
}