{% extends './base.html' %}

{% block title %}
  TuComida - {{ super() }}
{% endblock %}

{% block customCSS %}
  <link rel="stylesheet" href="{{url_for('static', filename='css/restaurant.css')}}">
{% endblock %}

{% block content %}
  <body>
    <div class="restaurant-profile">
      <div class="cover-photo">
        <img src="{{eatery['url_image']}}" alt="Portada del restaurante" />
        <div class="profile-photo">
          <img src="{{eatery['url_image']}}" alt="Foto de perfil del restaurante" />
        </div>
      </div>
      <h3>{{eatery['eatery']}}</h3>
      <div class="restaurant-hours">
        <h4>Horario del Restaurante</h4>
        <p>Lunes a Viernes: 10:00 AM - 10:00 PM</p>
        <p>Sábado y Domingo: 11:00 AM - 9:00 PM</p>
      </div>

    <!-- <div class="menu-options">
      <div class="category-content" id="all-content"></div>
    </div>
    <div class="category-content" id="adults-content">
      <h5>{{eatery['cuisine']}}</h5>
      <div class="menu-items">
        <div class="menu-item">
          <a href="{{url_for('pages.plato')}}">
            <div class="item-details">
              <img src="https://s7d1.scene7.com/is/image/mcdonalds/202201_3426-005_DoubleQuarterPounderwithCheese_832x472:1-4-product-tile-desktop" alt="Hamburguesa 1" />
              <div class="item-details-text">
                <h4>Hamburguesa Clásica</h4>
                <p>Una hamburguesa deliciosa con todos los ingredientes clásicos.</p>
              </div>
            </div>
          </a>
        </div> -->

    <!-- Nuevo div con ubicación geográfica y detalles -->
    <div class="location-details">
      <iframe
        class="map"
        src="{{eatery['url_maps']}}"
        width="auto"
        height="auto"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
      <div style="padding-left: 1rem; padding-top: 2rem">
        <h3>Ubicación</h3>
        <p>Dirección: {{eatery['address']}}</p>
        <p>Teléfono: {{eatery['phone']}}</p>
        <p>Horario: Lunes a Domingo, 10:00 AM - 10:00 PM</p>
        <p>
          {{eatery['description']}}
        </p>
      </div>
    </div>
  </body>

  {% block scripts %}
    <script src="{{url_for('static', filename='scripts/restaurant.js')}}"></script>
    {{ super() }}
  {% endblock %}
{% endblock %}
