{% extends './base.html' %}

{% block title %}TuComida - {{ super() }}{% endblock %}

{% block customCSS %}
  <link rel="stylesheet" href="{{url_for('static', filename='css/mision.css')}}" />

{% endblock %}
{% block content %}
    <body>
        <main class="header">
          <section class="mision">
            <article class="mission__container">
              <h2>Misión TuComida</h2>
              <p>
                Nuestra misión es ofrecer a los consumidores una experiencia culinaria única y personalizada 
                a través de la creación de su propia salsa macha. Con esto se busca brindarles
                la oportunidad de satisfacer sus gustos individuales así descubriendo nuevas y
                emocionantes opciones gastronómicas.
              </p>
            </article>
          </section>
          <section class="vision">
            <article class="vision__container">
              <h2>Visión TuComida</h2>
              <p>
                Brindar una experiencia culinaria a través de una Salsa Macha que satisfaga diferentes gustos y paladares
              </p>
            </article>
          </section>
            <!-- button group Bootstrap -->
            <div class="platforms">
              <h5>LA SALSONA IS POWERED BY</h5>
              <div class="btn-group" role="group" aria-label="TecNM">
                <button type="button" class="btn btn-secondary">
                  <img src="{{url_for('static', filename='icons/tecnmicono.ico')}}" width="20" height="21" alt="TecNM logo"> <!--TecNM-->
                  <a href="https://www.tecnm.mx/" target="_blank" rel="noreferrer noopener">TecNM</a>
                </button>
                <button type="button" class="btn btn-secondary">
                  <img src="{{url_for('static', filename='icons/Innova_TecNM_2023_logo.png')}}" width="30" height="21" alt="Innovatec"> <!-- Innovatec-->
                  <a href="https://innova.tecnm.mx/documentos/Convocatoria-InnovaTecNM-fd97d.pdf" target="_blank" rel="noreferrer noopener">Innovatec</a>
                </button>
                <button type="button" class="btn btn-secondary">
                  <img src="{{url_for('static', filename='icons/itc.svg')}}" width="20" height="21" alt="ItCancún icon"> <!--ITCancún-->
                  <a href="https://www.cancun.tecnm.mx/" target="_blank" rel="noreferrer noopener">ITCancún</a>
                </button>
                <!-- <button type="button" class="btn btn-secondary">Other</button> -->
              </div>
            </div>
          </main>
    </body>
{% endblock %}