{% extends './base.html' %}

{% block title %}TuComida - {{ super() }}{% endblock %}

{% block customCSS %}
  <link rel="stylesheet" href="{{url_for('static', filename='css/ofertas.css')}}" />

{% endblock %}
{% block content %}
<body>
    <div class="container__flow">
        <h1>Ofertas</h1>
        <div class="container__ofertas">
            <div class="item">
                <img src="{{url_for('static', filename='img/oferta1.jfif')}}" alt="Restaurante 1">
                <h3>Pastelerìa Yaneth</h3>
                <h4>-40% off</h4>
                <p>¡Pasteles de chocolate a un super precio!</p>
            </div>
            <div class="item">
                <img src="{{url_for('static', filename='img/oferta2.jpg')}}" alt="Restaurante 1">
                <h3>McDonald´s</h3>
                <h4>Happy Week</h4>
                <p>-50% off en papas fritas grandes y Big Mac</p>
            </div>
            <div class="item">
                <img src="{{url_for('static', filename='img/oferta3.jfif')}}" alt="Restaurante 1">
                <h3>Nombre del Restaurante 2</h3>
                <h4>Nombre de la Oferta 2</h4>
                <p>Descripción de la oferta 2.</p>
            </div>
            <div class="item">
                <img src="{{url_for('static', filename='img/oferta4.jpg')}}" alt="Restaurante 1">
                <h3>Nombre del Restaurante 2</h3>
                <h4>Nombre de la Oferta 2</h4>
                <p>Descripción de la oferta 2.</p>
            </div>
            <div class="item">
                <img src="{{url_for('static', filename='img/oferta5.jfif')}}" alt="Restaurante 1">
                <h3>Nombre del Restaurante 2</h3>
                <h4>Nombre de la Oferta 2</h4>
                <p>Descripción de la oferta 2.</p>
            </div>
            <div class="item">
                <img src="{{url_for('static', filename='img/oferta6.jfif')}}" alt="Restaurante 1">
                <h3>Nombre del Restaurante 2</h3>
                <h4>Nombre de la Oferta 2</h4>
                <p>Descripción de la oferta 2.</p>
            </div>
            <div class="item">
                <img src="{{url_for('static', filename='img/oferta7.jpg')}}" alt="Restaurante 1">
                <h3>Nombre del Restaurante 2</h3>
                <h4>Nombre de la Oferta 2</h4>
                <p>Descripción de la oferta 2.</p>
            </div>
            <div class="item">
                <img src="{{url_for('static', filename='img/oferta8.jpg')}}" alt="Restaurante 1">
                <h3>Nombre del Restaurante 2</h3>
                <h4>Nombre de la Oferta 2</h4>
                <p>Descripción de la oferta 2.</p>
            </div>
            <div class="item">
                <img src="{{url_for('static', filename='img/oferta8.jpg')}}" alt="Restaurante 1">
                <h3>Nombre del Restaurante 2</h3>
                <h4>Nombre de la Oferta 2</h4>
                <p>Descripción de la oferta 2.</p>
            </div>
            <div class="item">
                <img src="{{url_for('static', filename='img/oferta8.jpg')}}" alt="Restaurante 1">
                <h3>Nombre del Restaurante 2</h3>
                <h4>Nombre de la Oferta 2</h4>
                <p>Descripción de la oferta 2.</p>
            </div>
            <div class="item">
                <img src="{{url_for('static', filename='img/oferta8.jpg')}}" alt="Restaurante 1">
                <h3>Nombre del Restaurante 2</h3>
                <h4>Nombre de la Oferta 2</h4>
                <p>Descripción de la oferta 2.</p>
            </div>
            <div class="item">
                <img src="{{url_for('static', filename='img/oferta8.jpg')}}" alt="Restaurante 1">
                <h3>Nombre del Restaurante 2</h3>
                <h4>Nombre de la Oferta 2</h4>
                <p>Descripción de la oferta 2.</p>
            </div>
            <div class="item">
                <img src="{{url_for('static', filename='img/oferta8.jpg')}}" alt="Restaurante 1">
                <h3>Nombre del Restaurante 2</h3>
                <h4>Nombre de la Oferta 2</h4>
                <p>Descripción de la oferta 2.</p>
            </div>
            <div class="item">
                <img src="{{url_for('static', filename='img/oferta8.jpg')}}" alt="Restaurante 1">
                <h3>Nombre del Restaurante 2</h3>
                <h4>Nombre de la Oferta 2</h4>
                <p>Descripción de la oferta 2.</p>
            </div>
            <div class="item">
                <img src="{{url_for('static', filename='img/oferta8.jpg')}}" alt="Restaurante 1">
                <h3>Nombre del Restaurante 2</h3>
                <h4>Nombre de la Oferta 2</h4>
                <p>Descripción de la oferta 2.</p>
            </div>
            <div class="item">
                <img src="{{url_for('static', filename='img/oferta8.jpg')}}" alt="Restaurante 1">
                <h3>Nombre del Restaurante 2</h3>
                <h4>Nombre de la Oferta 2</h4>
                <p>Descripción de la oferta 2.</p>
            </div>
            <div class="item">
                <img src="{{url_for('static', filename='img/oferta8.jpg')}}" alt="Restaurante 1">
                <h3>Nombre del Restaurante 2</h3>
                <h4>Nombre de la Oferta 2</h4>
                <p>Descripción de la oferta 2.</p>
            </div>
            <div class="item">
                <img src="{{url_for('static', filename='img/oferta8.jpg')}}" alt="Restaurante 1">
                <h3>Nombre del Restaurante 2</h3>
                <h4>Nombre de la Oferta 2</h4>
                <p>Descripción de la oferta 2.</p>
            </div>
            <div class="item">
                <img src="{{url_for('static', filename='img/oferta8.jpg')}}" alt="Restaurante 1">
                <h3>Nombre del Restaurante 2</h3>
                <h4>Nombre de la Oferta 2</h4>
                <p>Descripción de la oferta 2.</p>
            </div>
        </div>
    </div>
</body>
{% endblock %}