{% extends './base.html' %}

{% block title %}TuComida - {{ super() }}{% endblock %}

{% block customCSS %}
  <link rel="stylesheet" href="{{url_for('static', filename='css/registro.css')}}" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/cards.css')}}" />

{% endblock %}
{% block content %}
  <body>

    <section class="banner">
      <div class="banner-container">
        <h2>Registra tu Restaurante</h2>
        <form enctype="multipart/form-data">
            <div class="form-group">
                <label for="nombre">Nombre de Restaurante</label><br>
                <input type="text" id="nombre" name="nombre" required>
            </div>
            <div class="form-group">
                <label for="categoria">Categoría o Tipo de Cocina</label><br>
                <input type="text" id="categoria" name="categoria" required>
            </div>
            <div class="form-group">
                <label for="direccion">Dirección</label><br>
                <input type="text" id="direccion" name="direccion" required>
                <a href="https://www.google.com/maps" target="_blank">Agregar Ubicación en Google Maps</a>
            </div>
            <div class="form-group">
                <label for="telefono">Número de Teléfono</label><br>
                <input type="tel" id="telefono" name="telefono" required>
            </div>
            <div class="form-group">
                <label for="correo">Correo Electrónico</label><br>
                <input type="email" id="correo" name="correo" required>
            </div>
            <div class="form-group">
                <label for="horario">Horario</label><br>
                <input type="text" id="horario" name="horario" required>
            </div>
            <div class="form-group">
                <label for="precio">Rango de Precios</label>
                <select id="precio" name="precio" required>
                    <option value="economico">Económico</option>
                    <option value="moderado">Moderado</option>
                    <option value="caro">Caro</option>
                </select>
            </div>
            <div class="form-group">
                <label for="fotos-interior">Fotos del Restaurante (Interior)</label>
                <input type="file" id="fotos-interior" name="fotos-interior" accept="image/*" required>
            </div>
            <div class="form-group">
                <label for="fotos-exterior">Fotos del Restaurante (Exterior)</label>
                <input type="file" id="fotos-exterior" name="fotos-exterior" accept="image/*" required>
            </div>
            <div class="form-group">
                <label for="fotos-decoracion">Fotos del Restaurante (Decoración)</label>
                <input type="file" id="fotos-decoracion" name="fotos-decoracion" accept="image/*" required>
            </div>
            <div class="form-group">
                <label for="descripcion">Descripción del Restaurante</label><br>
                <textarea id="descripcion" name="descripcion" rows="4" required></textarea>
            </div>
            <div class="form-group">
                <label for="redes-sociales">Redes Sociales</label><br>
                <input type="text" id="redes-sociales" name="redes-sociales">
            </div>
            <div class="form-group">
                <label for="contacto-adicional">Información de Contacto Adicional (Otras Sucursales, etc.)</label><br>
                <textarea id="contacto-adicional" name="contacto-adicional" rows="4"></textarea>
            </div>
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="confirm-password">Confirmar Contraseña</label>
                <input type="password" id="confirm-password" name="confirm-password" required>
            </div>
            <div class="form-group">
        <label for="terminos-condiciones">
            <input type="checkbox" id="terminos-condiciones" name="terminos-condiciones" required>Acepto los términos y condiciones</label>
    </div>
            <div class="form-group">
                <button type="submit">Registrar Restaurante</button>
            </div>
        </form>
    </section>
    </body>
{% endblock %}